* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .deafult_padding{
    padding: 0 50px;
} */
#logo {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin-left: 10px;
}
.header {
  display: flex;
  gap: 30px;
}
header nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(241, 236, 236);
  flex-wrap: wrap;
  flex-basis: 30px;
}
header nav button {
  display: none;
}
nav .menu {
  display: flex;
  column-gap: 12px;
  list-style: none;
  flex-wrap: wrap;
  padding-top: 10px;
}
nav .menu li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
nav .menu li a:hover {
  background-color: black;
  color: white;
}
nav .social {
  display: flex;
  column-gap: 50px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-left: 290px;
}
nav .social li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
nav .social li a:hover {
  background-color: black;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .topic {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.topic button {
  background-color: white;
  border-radius: 5px;
}
.topic button:hover {
  background-color: black;
  color: white;
}
h1 {
  padding: 15px 0;
}
img {
  width: 100%;
  height: 100%;
}
.container .imgTopic {
  flex-wrap: wrap;
  flex-basis: 50%;
}
.topicAB {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.topicAB button {
  background-color: white;
  border-radius: 5px;
}
.topicAB button:hover {
  background-color: black;
  color: white;
}
.storeImg {
  flex-basis: 30%;
  flex-wrap: wrap;
  height: 350px;
}
button {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.caro {
  display: flex;
}
.caro img {
  max-width: 100%;
  min-width: 50%;
  height: 100%;
}
.dcSlide {
  position: relative;
  max-width: 25%;
}
.dcTopic {
  position: absolute;
  padding: 0 30px;
  background: linear-gradient(
    rgba(255, 217, 0, 0.482),
    rgba(255, 192, 203, 0.482)
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.dcSlide:hover .dcTopic {
  height: 100%;
}
#Gallery button {
  display: none;
}
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: grey;
  justify-content: start;
  flex-wrap: wrap;
  gap: 3px;
}
.feature .box {
  background: white;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  flex-wrap: wrap;
}
.feature i {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: 900;
  font-size: 50px;
  flex-wrap: wrap;
}
.box h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.box p {
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 50px;
}
.warpform {
  display: flex;
  justify-content: space-between;
}
.warpinput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
}
.warpinput input {
  font-size: 30px;
  flex-wrap: wrap;
  resize: horizontal;
  width: 100%;
  overflow: hidden;
  flex: 1;
}
textarea {
  font-size: 30px;
}
.gropradio {
  margin-top: 30px;
}
.gropradio label {
  margin-right: 10px;
}
.gropradio input {
  margin-left: 10px;
}
.groupselect {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
textarea {
  resize: none;
}
.groupselect label {
  margin-right: 30px;
}
.groupselect select {
  height: 30px;
  padding-left: 10px;
  flex-wrap: wrap;
  font-size: 20px;
}
.warpRobot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.warpRobot div {
  margin-top: 20px;
}
#footer nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  z-index: 1;
  background-color: white;
}
#footer nav ul {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
}
#footer nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 100px;
  padding: 20px;
}
#footer nav ul li a:hover {
  background-color: black;
  color: white;
}
#footer div {
  text-align: center;
  padding: 30px;
}
@media only screen and (max-width: 850px) {
  .warp-slide {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  .caro {
    display: flex;
    overflow: hidden;
  }
  #Gallery {
    padding: 50px;
  }
  .caro img {
    flex: 1 0 30%;
    object-fit: cover;
    flex-wrap: wrap;
    min-width: 50%;
    max-width: 100%;
  }
  .dcSlide {
    min-width: 50%;
  }
  /* .caro img:nth-child(1) {
        display: none;
    }
    .caro img:nth-child(2){
        display: none;
    } */
  .feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .warpinput {
    width: 30%;
  }
  .warpinput input {
    width: 100%;
    font-size: 20px;
  }
  .social {
    position: absolute;
    left: -9999999999999999999999px;
  }
  .storeImg {
    flex-basis: 50%;
    height: 450px;
  }
  header nav button {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #logo {
    padding: 25px;
  }
  header nav {
    position: relative;
  }
  header nav .header {
    column-gap: 100px;
  }
  header nav .header .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background: linear-gradient(
      rgba(255, 255, 255, 0.581),
      rgba(214, 237, 3, 0.548)
    );
    left: 350px;
    transform: translateY(31%);
    top: -5px;
  }
  header nav .header .menu li {
    margin: 39px 38px 0 0;
  }
  header nav .header .menu li a {
    margin: 50px;
  }
  header nav button {
    display: inline-block;
    width: 100px;
    font-size: 30px;
    padding-top: -50px;
    background-color: transparent;
  }
  .header:hover .menu {
    display: block;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .imgTopic {
    order: 1;
  }
  .topic {
    order: 2;
  }
  #order-3 {
    order: 3;
  }
  #order-4 {
    order: 4;
  }
  #order-5 {
    order: 5;
  }
  #order-6 {
    order: 6;
  }
  .warp-slide {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  .dcSlide {
    min-width: 100%;
  }
  .caro {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .caro::-webkit-scrollbar {
    width: 0;
  }
  #Gallery {
    padding: 10px;
  }
  .caro img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }
  .slide-nav {
    display: flex;
    column-gap: 5px;
    position: absolute;
    bottom: 30%;
    left: 45%;
    z-index: 1;
  }
  .slide-nav a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(129, 3, 255);
    opacity: 0.5;
  }
  .slide-nav a:hover {
    opacity: 1;
  }

  .feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .warpform {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .warpinput {
    margin-top: 30px;
    width: 100%;
  }
  .warpinput input {
    font-size: 30px;
    width: 100%;
  }
}
